body{
	background-color: #ecf0f1;
}

button{
	background-color: #A3CB38;
	width: 200px;
	height: 40px;
	border: none;
	color: #ecf0f1;
	margin-left: 45%;
	margin-top: 8em;
}

button:hover{
	background-color: #badc58;

}

p{
	font-family: monospace;
	padding: 10px;
}

h1{
	font-family: monospace;

}

